/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar,
div::-webkit-scrollbar {
  display: none;
}

div {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  background: #000;
  height: 100%;
  width: 100%;
  background-repeat: initial;
  font-family: 'Ubuntu' !important;
  animation: fadeInAnimation ease 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  color: whitesmoke;
}

.grid-container {
  position: relative;
  font-size: 30px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
  padding: 5px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  width: 100%;
  color: whitesmoke;
}

.innerWrapper-children {
  padding-right: 0px !important;
}

.metrimask-dl-lnk {
  color: antiquewhite;
}
.metrimask-dl-lnk:hover {
  color: rgba(253, 241, 224, 0.76);
  text-shadow: 0px 0px 1px red;
  font-weight: 600;
}

/* network sign */
.net-connect-segment {
  padding: 0.6em 0.8em !important;
  margin: 0px !important;
  min-width: 240px;
  max-width: 240px;
  min-height: 100px;
  width: -webkit-fill-available;
  margin-bottom: 2px;
  background-color: transparent !important;
  border: 0px !important;
}

.net-connect-btn {
  display: block !important;
  margin: 2px 0px 0px 0px !important;
  background: rgba(128, 96, 0, 0.2) !important;
  background-color: rgba(128, 96, 0, 0.2) !important;
  color: #fbbd08 !important;
  border: 1px solid #fbbd08 !important;
  /*font-size: 0.92em !important;*/
  font-size: 0.7em !important;
  line-height: 15px !important;
  padding: 5px 5px !important;
}

.net-read-only {
  display: block !important;
  margin: 5px 0px 0px 0px !important;
  background: rgba(32, 24, 0, 0.94) !important;
  background-color: rgba(32, 24, 0, 0.94) !important;
  color: #fbbd08 !important;
  border: 1px solid #fbbd08 !important;
}

.net-connect-btn-icon {
  padding: 0px !important;
  margin-left: -7px !important;
  margin-right: 2px;
}

.net-connect-btn-icon-label {
  padding: 2px 0px !important;
  font-size: 0.9em !important;
  max-width: 60px;
  line-height: 14px !important;
}

.net-connect-btn-icon-txt {
  padding: 5px 8px !important;
  font-size: 0.9em !important;
  margin-left: 2px;
}
/* =========== */

#space,
.stars {
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.stars {
  background-image: radial-gradient(
      4px 4px at 20px 30px,
      #eee,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(4px 4px at 40px 70px, #fff, rgba(0, 0, 0, 0)),
    radial-gradient(4px 4px at 50px 160px, #ddd, rgba(0, 0, 0, 0)),
    radial-gradient(4px 4px at 90px 40px, #fff, rgba(0, 0, 0, 0)),
    radial-gradient(4px 4px at 130px 80px, #fff, rgba(0, 0, 0, 0)),
    radial-gradient(4px 4px at 160px 120px, #ddd, rgba(0, 0, 0, 0));
  background-repeat: repeat;
  background-size: 200px 200px;
  animation: zoom 10s linear infinite;
  opacity: 0;
}

.stars {
  background-image: radial-gradient(
      1px 1px at 20px 30px,
      #eee,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(1px 1px at 40px 70px, #fff, rgba(0, 0, 0, 0)),
    radial-gradient(1px 1px at 50px 160px, #ddd, rgba(0, 0, 0, 0)),
    radial-gradient(1px 1px at 90px 40px, #fff, rgba(0, 0, 0, 0)),
    radial-gradient(1px 1px at 130px 80px, #fff, rgba(0, 0, 0, 0)),
    radial-gradient(1px 1px at 160px 120px, #ddd, rgba(0, 0, 0, 0));
  background-repeat: repeat;
  background-size: 200px 200px;
}

.stars:nth-child(1) {
  background-position: 50% 50%;
  animation-delay: 0s;
}
.stars:nth-child(2) {
  background-position: 20% 60%;
  animation-delay: 2s;
}
.stars:nth-child(3) {
  background-position: -20% -30%;
  animation-delay: 4s;
}
.stars:nth-child(4) {
  background-position: 40% -80%;
  animation-delay: 6s;
}
.stars:nth-child(5) {
  background-position: -20% 30%;
  animation-delay: 8s;
}

@keyframes zoom {
  0% {
    opacity: 0;
    transform: scale(0.5);
    animation-timing-function: ease-in;
  }
  85% {
    opacity: 1;
    transform: scale(2.8);
    animation-timing-function: linear;
  }
  100% {
    opacity: 0;
    transform: scale(3.5);
  }
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

button,
input,
div.content.navigation,
div.sub.header.navigation,
div.column {
  font-family: 'Ubuntu' !important;
}

.bgLogo {
  background-image: url('/static/images/logos/logo.svg');
  background-repeat: no-repeat;
  background-size: 75% auto;
  background-position: center;
  color: whitesmoke;
}

.bgText {
  margin: 55% auto;
  padding: 10px;
  font-family: 'Ubuntu' !important;
  color: whitesmoke;
}

.depositAddress {
  text-align: center;
}

input#amount_from {
  text-align: right;
}

input#amount_to {
  text-align: right;
}

input#vendor_balance {
  text-align: right;
}

.innerWrapper {
  background-color: transparent;
  padding: auto;
  margin-bottom: 16px !important;
  margin-top: 40px !important;

  min-height: 65em;
  max-height: 65em;
}

.navigationBar {
  margin-top: 2px;
}

.navigationBarCols {
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.navigation {
  margin-top: 10px;
  color: whitesmoke !important;
  font-family: 'Ubuntu' !important;
}

.footer-bar {
  margin: 0px !important;
  padding: 0px !important;
  padding-top: 1px !important;
  background-color: #1f1d21;
  background: linear-gradient(
    180deg,
    rgba(31, 29, 33, 0.46) 0%,
    rgba(31, 29, 33, 0.93) 42%,
    #1f1d21 48%,
    #1f1d21 100%
  );
  backdrop-filter: blur(11px);
}

.footerNavBar {
  text-transform: uppercase;
  text-align: center;
  font-size: 12px !important;
  color: gray;
  font-family: Rubik !important;
  padding: 2px 0px !important;
}
.footerNavBar a {
  color: snow;
  word-spacing: -2px;
  opacity: 0.76;
  font-weight: normal !important;
}
.footerNavBar a:hover {
  color: purple;
}

.footer-nav-col {
  vertical-align: bottom !important;
  bottom: 0 !important;
  position: fixed !important;
  width: 100%;
  overflow: hidden;
}

.nav-footer {
  vertical-align: bottom !important;
  bottom: 0 !important;
  position: fixed !important;
  width: 100%;
  overflow: hidden;
  z-index: 11 !important;
}

.nav-footer .center.aligned.row {
  padding: 0px;
}

.footer {
  bottom: 0px;
}

.wrapper {
  padding-top: 2%;
  padding-bottom: 2%;
}

.radioBtn {
  padding: 2px 8px;
}

.spacer-med {
  padding: 200px 0px;
}

.panel-hdr {
  padding: 2px 3vw;
  border-radius: 3px;
  border: 1px solid rgba(16, 0, 16, 0.67) !important;
  background-color: rgba(77, 0, 77, 0.1);
}

.nav-heading {
  max-width: max-content;
  padding-top: 0px !important;
  margin-top: -10px !important;
  cursor: default;
  font-family: 'Ubuntu' !important;
}

.nav-heading i {
  size: 10px !important;
}

.nav-header-logo {
  padding: 2px 30px !important;
  margin: 16px 0px -20px 0px !important;
  border-radius: 5px;
  transition: all 300ms ease-in-out;
}

.nav-header-logo img {
  margin: 0px 10px 4px 10px;
}

.nav-header-btn {
  padding: 17px 36px !important;
  margin: 0px;
  border-radius: 20%;
  transition: all 300ms ease-in-out;
}

.nav-header-btn:hover {
  background-color: rgba(88, 0, 88, 0.6) !important;
  transition-delay: 200ms;
  transition: all 300ms ease-in-out;
}

.nav-item-sel {
  padding-bottom: 3px !important;
}

@media screen and (max-width: 979px) /* Tablet */ {
  .nav-header-logo {
    padding: 2px 20px !important;
  }
  .nav-header-logo img {
    padding: 0px !important;
    margin: 0px 5px 4px 5px !important;
  }
  .nav-heading {
    font-size: 1.2em !important;
  }
  .nav-header-btn {
    padding: 10px 32px !important;
  }
  .swapsHeader .column {
    padding: 0px 4px !important;
  }
}

@media screen and (max-width: 620px) /* Mobile-Large */ {
  .ui.container {
    margin-left: 0.5em !important;
    margin-right: 0.5em !important;
  }
  .ui.container .wrapper {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  .nav-header-logo {
    padding: 2px 16px !important;
  }
  .nav-header-logo img {
    padding: 0px !important;
    margin: 0px 2px 4px 2px !important;
  }
  .nav-heading {
    font-size: 1.15em !important;
  }
  .nav-header-btn {
    padding: 10px 28px !important;
  }
  .swapsHeader .column {
    padding: 0px 5px !important;
  }
}

@media screen and (max-width: 500px) /* Mobile */ {
  .ui.container {
    margin-left: 0.2em !important;
    margin-right: 0.2em !important;
  }
  .ui.container .wrapper {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  .nav-header-logo {
    padding: 2px 10px !important;
  }
  .nav-header-logo img {
    padding: 0px !important;
    margin: 0px 0px 3px 0px !important;
  }
  .nav-heading {
    font-size: 1.06em !important;
  }
  .nav-header-btn {
    padding: 10px 18px !important;
  }
  .swapsHeader .column {
    padding: 0px 3px !important;
  }
}
